<div class="row row-cols-1 row-cols-md-3 text-center pt-4">
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Clothing</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"></h1>
        <a href="clothing.html">
          <img src="./assets/images/clothing.jpg" width="150px" height="200px"/>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Jewellery</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"></h1>
        <a href="jewellery.html">
          <img src="./assets/images/jewellery.jpg" width="150px" height="200px"/>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Other</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"></h1>
        <a href="other.html">
          <img src="./assets/images/other.jpg" width="150px" height="200px"/>
        </a>
      </div>
    </div>
  </div>
</div>
